.header {
  font-family: 'Monoton', cursive;
  font-size: 28px;
  .navbar__links {
    border: 3px solid white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
  }
}
