.App {
  box-sizing: border-box;
  background: #282c34;

  text-align: center;
  background-color: #282c34;

  min-height: 100vh;
  color: white;
  text-align: center;
}

.footer {
  margin-top: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
